:root {
    --yellow: #FDC632;
    --greyblue: #002347;
    --scale: 1;
    --scale-sec-6: 1;
    --scale-sec-6-right: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url('https://themewagon.github.io/edustage/img/banner/home-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
    margin: 0;
}

navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: medium;
    font-family: rubik;
    padding: 2vh 0;
    box-shadow: 0 0 35px 0px black;
    box-shadow: 0 0 35px 0px black;
    position: sticky;
    top: 0;
    background: white;


}

.nav-option {
    display: flex;

    justify-content: space-between;
}

.nav-option div:hover {
    color: #FDC632;
    transition: all 0.3s ease-in-out;
}

#home {
    color: #FDC632;
}

.nav-option div {
    margin: 0 1vw;
    cursor: pointer;
}

.intro {
    text-align: center;
    margin: 5vh auto;
}

.intro .text-line {
    margin-top: 15vh;
}

.intro h3 {
    font-family: 'roboto ', sans-serif;
    font-weight: 500;
    color: #002347;
    margin: 5vh;

}

.intro h1 {
    font-family: ' rubik';
    font-weight: 500;
    color: #002347;
}

.intro .button {
    max-width: 50vw;
    height: 2vh;
    text-align: center;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;

}

.intro button {
    width: 10vw;
    height: 6vh;
    border-radius: 5px;
    text-transform: uppercase;
    border: none;
    font-weight: bolder;
    cursor: pointer;
}

.button :first-child {
    background-color: #002347;
    color: #FDC632;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

.button :first-child:hover {
    background-color: transparent;
    color: #002347;
    border: 1px solid black;
    border-radius: 5px;

}

#see-course {
    color: #002347;
    background-color: #FDC632;
}

#see-course:hover {
    background-color: #002347;
    color: #FDC632;
    transition: all 0.3s ease-in-out;
}

.awesome {
    text-align: center;
    margin: 10vh 0;
    margin-top: 20vh;

}

.awesome h1 {
    font-family: 'rubik';
    font-weight: bold;
    color: #002347;

}

.awesome p {
    font-family: roboto;
    font-style: italic;
    color: #7B838A;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px 15px;
    justify-content: center;
    background-color: #F9F9FF;
    width: 25vw;
    height: 30vh;

}

.card:hover {
    box-shadow: 0 0 60px #d4d4d8;
    transition: all 0.2s ease-in-out;
}

.fa-graduation-cap,
.fa-book,
.fa-earth-americas {
    font-size: 2vw;
    padding: 5px 0;
    /* filter: hue-rotate(90deg); */
    color: #002347;

}

.title {
    color: #002347;
}

.desc {
    color: #7B838A;
}

.card-section-3 {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #F9F9FF;
    /* overflow-x: hidden; */
    /* margin: 0 5vw; */

}

.cards-section-3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 7vw;
    overflow-x: scroll;
    width: 70vw;
    margin: auto;

    /* margin: 0vw 3vw; */
}

.card-section-3 .img {
    width: 20vw;
    overflow: hidden;
}

.img-card-2 {
    overflow: hidden;
}

.card-section-3 img {
    width: 20vw;
    scale: var(--scale);
    transition: all 0.3s ease-in-out;

}

.card-2-desc {
    width: 20vw;
    padding: 15px;
}

.Design {
    text-transform: uppercase;
    width: fit-content;
    padding: 5px;
    color: white;
    font-family: 'roboto';
    background-color: #002347;
    margin: 8px 0;

}

.card-2-title {
    text-transform: capitalize;
    font-family: 'rubik';
    font-weight: 500;
    color: var(--greyblue);
    margin: 8px 0;
    transition: all 0.2s ease-in-out;
}

.card-section-3 p {
    font-family: 'roboto';
    color: #7B838A;
    margin-bottom: 8px;

    /* width: 20vw;
    text-wrap: wrap; */
}

.circle {
    background-color: var(--yellow);
    padding: 18px 13px;
    width: fit-content;
    border-radius: 32px;
    float: right;
    /* position: relative; */
    top: -30px;
    font-family: 'rubik';
    font-weight: 500;
    color: var(--greyblue);
    transition: all .2s ease-in-out;
    margin: 0 5px;

}

.circle-container {
    width: 20vw;
    position: relative;
    top: -35px;
}

.comment-img {
    width: 70%;
    display: flex;
    margin: 0 5px;
    align-items: center;
}

.comment-img img {
    width: 3vw;
}

.comment {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fa-user,
.fa-heart {
    font-size: small;
    margin: 0 5px;
}

.name {
    font-size: medium;
    margin: 0 5px;
    font-weight: 500;
    font-family: 'roboto';
    color: #002347;
    /* padding:; */
}

.card-section-3:hover {
    background-color: white;
    box-shadow: 0 0 80px #d4d4d8;
    transition: all 0.3s ease-in-out;
    --yellow: #002347;
    --greyblue: #FDC632;
    --scale: 1.1;
}

.cards-section-3::-webkit-scrollbar {
    /* scrollbar-color: #FDC632 ,#002347 ; */

    background-color: #FDC632;
}

.cards-section-3::-webkit-scrollbar-thumb {
    background-color: #7B838A;
    cursor: grab;
}

body>div.container>navbar>i {
    display: none;


}

.register-now h1 {
    font-family: 'rubik';
}

.section-4 {
    height: 80vh;
    background-color: #002347;
    color: white;
    display: flex;

    /* text-align: c; */

}

.section-4-left {
    width: 50vw;
    margin: auto;
    padding: 5vh 0;
    height: 40vh;
}

.section-4-left p {
    width: 50vw;
    font-family: 'roboto';
}

.days {
    height: 30vw;
    margin-top: 7vh;
}

.section-4-left span {
    background-color: #334F6C;
    font-size: 2vw;
    padding: 2vw 1vw;
    font-family: 'roboto';
    border: 1px solid #7A8C9F;
    border-radius: 5px;
}

.section-4-right {
    width: 40vw;
    margin: auto;
    padding: 5vh 0;
}

.sub1 {
    font-size: 1vw;
}

.section-4-right form {
    background-color: white;
    color: #002347;

}

.form-title {
    text-align: center;
    padding: 2vh;
}

.form-title p {
    color: #7B838A;
}

form {
    height: 45vh;
    width: 23vw;
}

form input {
    border: none;
    outline: none;
    height: 5vh;
    width: 23vw;

    padding: 5px 20px;


}

.input hr {
    width: 80%;
    margin: auto;

}

.submit {
    text-align: center;
    margin: auto;
    padding: 5px;
}

.submit button {
    width: 20vw;
    height: 5vh;
    color: #002347;
    background-color: #FDC632;
    border: none;

}

.submit button:hover {
    color: #FDC632;
    background-color: #002347;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.section-5-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    height: auto;
    margin: 10vh 0;
}

.section-5-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.211);
    padding-bottom: 2vh;
    height: 30vw;
}

.section-5-card:hover {
    box-shadow: 0 0 15px rgba(101, 99, 99, 0.553);
    transition: all 0.3s ease-in-out;
}

.card-5-title {
    text-align: center;
}

.card-5-title h2 {
    font-family: 'rubik';
    font-weight: 500;
}

.card-5-title p {
    font-family: 'roboto';
    color: #7B838A;
    margin: 7px;
}

.card-5-img {
    width: 20vw;

}

.card-5-img img {
    width: 20vw;

}

.card-5-desc {
    width: 20vw;
    text-align: center;
    color: #7B838A;
}

.card-5-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
    color: #7B838A;
    margin: 9px 0;

}

.section-6 {
    height: 100vh;
    background-color: #002347;
}

.section-6-text {
    color: white;
    text-align: center;
    font-family: 'rubik';
    padding: 20px;
    margin: 5svw;
}

.section-6-text p {
    font-style: italic;
    color: #7A8C9F;
}

.section-6-card {
    width: 93vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 5vw; */
}

.left-card-6 {
    width: 35vw;
    height: 60vh;
}

.sec-6-card-img {
    width: 30vw;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.sec-6-card-img img {
    width: 30vw;
    height: 50vh;
    /* position: relative; */
    scale: var(--scale-sec-6);
    transition: all 0.3s ease-in-out;
}

.right-6-img img {
    width: 30vw;
    height: 50vh;
    /* position: relative; */
    scale: var(--scale-sec-6-right);
    transition: all 0.3s ease-in-out;
}

.upon-img-div {
    position: absolute;
    height: 30vh;
    width: 20vw;
    background-color: #7a8c9ec4;
    top: 0;
    right: 0;
}


.float-div {
    width: 20vw;
    /* position: absolute; */

}

.date {
    color: #FDC632;
    font-size: large;
    font-weight: bold;
}

.upon-flex {
    display: flex;
    /* font-size: 10px; */
    color: white;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    font-family: 'roboto';


}

.lines-vertical {
    /* font-size: larger; */
    margin: 0 5px;

}

.fa-location-dot,
.fa-clock {
    margin: 0 5px;
}

.upon-img-div P {
    padding: 5vh 5px;
    color: white;
    font-family: 'roboto';
}

.section-6-button button {
    margin: auto;
    width: 40%;
    height: 4vh;
    outline: none;
    border: none;
    background-color: #FDC632;
    cursor: pointer;
    font-weight: bold;
}

.section-6-button button:hover {
    background-color: #002347;
    color: #FDC632;
    transition: all 0.3s ease-in-out;
}

.section-6-button {
    margin: auto;
    display: flex;

}

.left-card-6:hover {
    --scale-sec-6: 1.2;
    /* overflow: hidden; */
}

/* .right-card-6:hover{
    --scale-sec-6-right: 1.2;
} */
.section-7 {
    height: 70vh;
}

.section-7-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    overflow-x: scroll;
    width: 80vw;
    margin: auto;
    overflow-y: hidden;
    padding-left: 45vw;
    height: 30vh;

}

.section-7-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 20vh;
    padding: 0 5px;
    background-color: white;
    box-shadow: 0 0 10px rgba(92, 90, 90, 0.401);
    cursor: grab;


}

.sec-7-card-img {
    width: 10vw;
    height: 20vh;


}

.sec-7-card-img img {
    width: 9vw;
    height: 19vh;
    margin-top: 1vh;
}

.sec-7-desc,
.sec-7-title h2,
.sec-7-title p {
    width: 30vw;
    padding: 5px;
}

.sec-7-title {
    font-family: 'rubik';


}

.sec-7-title p {
    font-family: 'roboto';
}

.section-7-cards::-webkit-scrollbar {
    /* scrollbar-color: #FDC632 ,#002347 ; */

    background-color: #002347;
}

.section-7-cards::-webkit-scrollbar-thumb {
    background-color: #d4d4d8;
    cursor: grab;
}

footer {
    height: 90vh;
    background-color: #002347;
}

.footer-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    font-family: 'roboto';
    color: #7B838A;
    /* margin-top: 4vh; */
    height: 70vh;
}

.footer-title {
    color: white;
    font-weight: 500;
    font-size: large;
}

.footer-input {
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-input input {
    background-color: #334F6C;
    border: none;
    outline: none;
    height: 7vh;
    width: 15vw;
    color: white;

}

.footer-input button {
    width: 8vw;
    height: 6vh;
    margin-left: -15px;
    color: #002347;
    background-color: #FDC632;
    border: none;
    outline: none;
    cursor: pointer;

}

.footer-desc p {
    margin: 5px 0;
}

.footer-flex-2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'roboto';
    text-wrap: wrap;
    width: 80vw;
    margin: auto;
}

.footer-icon {
    display: flex;
    /* gap: 2px; */
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    /* width: 40%; */

}

.footer-icon div {
    text-align: center;
    padding: 5px;
    /* margin: 5px 0; */
    background: #334F6C;
}

.footer-flex-2 span {
    color: #FDC632;
}










/* *********MEDIA QUERY******** */

@media screen and (max-width: 812px) {
    .nav-option {
        /* display: none; */
        display: flex;
        flex-direction: column;
        gap: 5vh;
        z-index: 50;
        background-color: #002347;
        width: 40vw;
        position: absolute;
        bottom: -88vh;
        height: 90vh;
        color: #d4d4d8;
        left: -100%;
        transition: all 0.4s ease-in-out;
        padding: 20px 0;
        box-shadow: 0 0 25px #FDC632;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .nav-option div {
        text-align: center;
    }

    .fa-bars {
        display: block;

    }

    body>div.container>navbar>i {
        display: block;

    }

    .container {
        background-position: center;
    }

    .button button {
        display: block;
    }

    #learn-more,
    #see-course {
        width: 80vw;
    }

    .awesome {
        text-align: center;
        margin: 10vh 6vw;
        margin-top: 20vh;
    }

    .cards {
        flex-direction: column;
    }

    .card {
        width: 80vw;
        margin: 0 5vw;
    }

    .cards-section-3 {
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 60vh;
        justify-content: flex-start;

    }

    .cards-section-3:hover {
        box-shadow: 0 0 15px #FDC632;
    }

    .card-section-3 {
        width: 80vw;
        /* overflow: auto; */
        align-items: center;
        justify-content: center;

    }

    .card-2-desc,
    .card-2-title,
    .img-card-2,
    .img-card-2 img {
        width: 70vw;
    }

    .fa-graduation-cap,
    .fa-book,
    .fa-earth-americas {
        font-size: 5vw;
    }

    .section-4 {
        flex-direction: column;
        height: 94vh;
    }

    .section-4 form,
    .section-4-right {
        width: 50vw;
    }

    .section-5-card {
        width: 54vw;
        height: 65vh;
        /* padding: 11px; */
    }

    .section-5-cards {
        flex-direction: column;
        gap: 5vh;
    }

    .card-5-img img,
    .card-5-img {
        width: 54vw;
    }

    .section-6-card {
        flex-direction: column;
        gap: 5vh;
        margin-top: 20vh;

    }

    .section-6 {
        height: 150vh;
    }

    .left-card-6,
    .sec-6-card-img,
    .sec-6-card-img img {
        width: 70vw;
    }

    .upon-img-div {
        width: 60vw;
    }

    .section-7-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        overflow-x: initial;
        width: 80vw;
        margin: auto;
        overflow-y: initial;
        padding-left: 0;
        height: 30vh;
        flex-direction: column;
        overflow-y: scroll;
        height: 80vh;
    }

    .section-7-card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70vw;
        height: 80vh;
        padding: 0 5px;
        background-color: white;
        box-shadow: 0 0 10px rgba(92, 90, 90, 0.401);
        cursor: grab;
        flex-direction: column;
    }

    .sec-7-card-img,
    .sec-7-card-img img {
        width: 70vw;
        height: 40vh;
        /* padding: 0 1vw; */
        /* margin: auto; */

    }

    footer {
        height: 130vh;
    }

    .footer-flex {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3vw;
        font-family: 'roboto';
        color: #7B838A;
        /* margin-top: 4vh; */
        height: 100vh;
        font-size: small;
        width: 90vw;
        flex-direction: column;
        margin: auto;
    }

    .footer-col {
        width: 80vw;
        font-size: large;
        margin: auto;
        text-align: center;
    }
    .footer-input button {
        width: 24vw;
        height: 6vh;
        margin-left: -15px;
        color: #002347;
        background-color: #FDC632;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .footer-input input {
        background-color: #334F6C;
        border: none;
        outline: none;
        height: 7vh;
        width: 60vw;
        color: white;
    }
    .footer-input {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: auto;
    }

    .footer-flex-2{
        
            flex-direction: column;
            padding: 5px 0;
            margin: 5px auto;
            gap: 2vh;
        
    }
    .footer-line{
        margin-top: 5vh;
    }
}